
@font-face {
  font-family: "PlayfairDisplay";
  src: url('@/assets/fonts/PlayfairDisplay-SemiBold.ttf')
}
// @font-face {
//   font-family: "Oxanium";
//   src: url('@/assets/fonts/Oxanium-Regular.ttf')
// }
@font-face {
  font-family: "PublicSans";
  src: url('@/assets/fonts/PublicSans-Regular.ttf')
}
html::-webkit-scrollbar {
  display: none;
}
  
html, body, #root {
  height: 100vh;
  width: 100vw;
  font-family: PublicSans;
  color: #fff;
}

.font-pf {
  font-family: PlayfairDisplay;
}
// .font-Oxanium {
//   font-family: Oxanium;
// }
.img-fixed {
  image-rendering: pixelated;
  object-fit: cover;
}
.uv-container {
  background-color: #110E19;
}
.uv-container-sub-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.uv-container-0, .uv-container-1 {
  margin: 0 auto;
}
.uv-container-1 {
  max-width: 1440px;
  width: 100%;
}
.bg-uv-sub {
  background-image: url("@/assets/imgs/bg_light_tr.png");
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
}
.sub-qa-block {
  padding: 0 40px;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .sub-qa-block {
    padding: 0 140px;
  }
}
.qa-block-title {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 48px;
}
.qa-block-txt {
  color: #FFFFFF7F;
  font-size: 20px;
  line-height: 36px;
  margin-top: 30px;
}
.sub-block-split {
  border: 1px solid #4D5155;
}
.paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paging .paging-item {
  height: 40px;
  min-width: 40px;
  background-color: #2b2736;
  border-radius: 5px;
  margin: 0 5px;
  color: #b1b1b1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging .paging-item.paging-item-txt {
  cursor: auto;
}
.paging .paging-item.paging-item-current {
  background-color: #5c26d8;
  color: #fff;
  cursor: auto;
}
// topbar connect wallet
.lnk-wallet {
  background-image: url("@/assets/imgs/Botton@2x.png");
  background-size: cover;
  background-position: center center;
}
.wallet-linked {
  border: 1px solid #a1a1a1;
  border-radius: 100px;
  height: 40px;
  margin-left: 20px;
  color: #ffffff;
  padding: 0 20px;
}
.wallet-linked .wallet-icon {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #a1a1a1;
}
.wallet-linked .arrow-down {
  margin-top: -3px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.wallet-linked .arrow-up {
  margin-top: 6px;
  transform: rotate(-135deg);
  width: 8px;
  height: 8px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
// topbar wallet dropdown
.wallet-profile {
  position: absolute;
  z-index: 1;
  top: 48px;
  right: 0;
  border-radius: 15px;
  padding: 17px;
  color: #989898;
  background-color: rgb(37, 32, 52, 0.9);// #252034;
  font-size: 16px;
  cursor: auto;
}
.wallet-profile .profile-r {
  margin-bottom: 15px;
}
.wallet-profile .split {
  border-top: 1px solid #666666;
}
.wallet-profile .principal-info {
  background-color: #14111d;
  border-radius: 5px;
  padding: 3px 12px;
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
  display: inline-flex;
}
.wallet-profile .profile-label {
  margin-bottom: 5px;
}
.wallet-profile .btn-copy-account-id {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  cursor: pointer;
}
.wallet-profile .profile-uv-balance {
  width: 260px;
  height: 66px;
  border-radius: 5px;
  background: linear-gradient(to right, #8048ff 0%, #6C2CFD 100%);
  color: #ffffff;
  font-size: 20px;
}
.wallet-profile .lnk-mytokens-border {
  border-radius: 5px;
  background: linear-gradient(-10deg, #282729 0%, #aeaeae 100%);
  background-clip: padding-box;
  padding: 1px;
  width: 100%;
  height: 46px;
  margin-bottom: 25px;
  cursor: pointer;
}
.wallet-profile .lnk-mytokens {
  border-radius: 5px;
  width: 100%;
  height: 44px;
  background-color: #121212;
  color: #ffffff;
  font-size: 18px;
}
.wallet-profile .lnk-mytokens::after {
  border: 1px solid #ffffff;
}
.wallet-profile .lnk-mytokens .icon-arrow-right {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  margin-left: 10px;
}
.wallet-profile .btn-disconnect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 20px;
  margin-top: 15px;
  cursor: pointer;
}
.wallet-profile .btn-disconnect .icon-disconnect {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  margin-right: 15px;
}
// footbar
.foot-lbar {
  background-image: url("@/assets/imgs/bg_foot_lbar.png");
  background-size: cover;
  background-position: center center;
  width: 348px;
  height: 64px;
  margin-top: 40px;
  margin-bottom: 30px;
}
// home 翻转
.flip-card {
  perspective: 1000px; /* 为3D效果提供深度感 */
}
.flip-card-inner {
  transition: transform 1.6s;
  transform-style: preserve-3d; /* flat保留3D效果 */
  -webkit-transform-style: preserve-3d;
  position: relative;
  /* backface-visibility: hidden; */
  /* perspective-origin: top right; */
}
.flip-card-inner-flipped {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
// 白色圆角按钮
.btn-link-1 {
  border-radius: 100px;
  background: #E8E8EE;
  box-shadow: inset -3px -3px 7px 0px #FFFFFF,inset 4px 4px 7px 0px #8896A393,0px 0px 24px 0px #FFFFFF66;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-link-1:hover {
  opacity: 0.8;
  cursor: pointer;
}
// top foot 圆形按钮
.btn-link-2 {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(180deg, #824BFF 0%, #6C2CFD 100%);
}
.btn-link-2.disable {
  cursor: auto;
  background: linear-gradient(180deg, #909090 0%, #606060 100%);
}
.btn-link-2-split {
  margin: 0 12px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #221C5B;
}
// home page
// home menu+intro+ip
.uv-home-1 {
  position: relative;
  min-height: 910px;
}
.uv-home-1-bg {
  min-height: 670px;
}
.uv-home-1-ctx {
  position: absolute;
  top: 0;
  width: 100%;
}

.uv-container-0 {
  position: relative;
}
.uv-container-0 .pannel-info {
  min-width: 360px;
  padding: 60px 40px 0 40px;
}
.uv-container-0 .t1 {
  font-family: PlayfairDisplay;
  font-size: 40px;
}
.uv-container-0 .t2 {
  font-size: 16px;
  line-height: 30px;
}
.uv-container-0 .txtlink {
  margin-top: 28px;
}
.uv-container-0 .btn-link-1 {
  width: 120px;
  height: 30px;
  font-size: 12px;
}
.ipcard {
  position: relative;
  width: 320px;
  height: 390px;
  margin: 0 auto;
  margin-top: -20px;
}
.btn-join-us {
  background-image: url("@/assets/imgs/Joinus.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  margin-top: -40px;
  width: 129px;
  height: 64px;
}
.btn-join-us .btn-txt {
  transform: rotate(7deg);
  text-align: center;
  padding-top: 24px;
  font-size: 12px;
}
.ip-uv-home {
  background-image: url("@/assets/imgs/IPcard.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  .uv-home-1 {
    min-height: 500px;
  }
  .uv-container-0 .pannel-info {
    padding-top: 60px;
    min-width: 300px;
    padding-left: 20px;
  }
  .uv-container-0 .t1 {
    font-size: 40px;
  }
  .uv-container-0 .t2 {
    font-size: 16px;
    line-height: 30px;
  }
  .uv-container-0 .txtlink {
    padding-top: 28px;
  }
  .uv-container-0 .btn-link-1 {
    width: 120px;
    height: 30px;
    font-size: 12px;
  }
  .ipcard {
    position: absolute;
    top: -20px;
    right: 0;
    width: 320px;
    height: 390px;
  }
  .btn-join-us {
    position: absolute;
    top: 350px;
    right: 100px;
    width: 129px;
    height: 64px;
  }
  .btn-join-us .btn-txt {
    padding-top: 24px;
    font-size: 12px;
  }
}
@media (min-width: 880px) {
  .uv-container-0 {
    max-width: 1000px;
  }
  .uv-container-0 .pannel-info {
    padding-top: 60px;
  }
  .uv-container-0 .t1 {
    font-size: 80px;
  }
  .uv-container-0 .t2 {
    font-size: 20px;
    line-height: 30px;
  }
  .uv-container-0 .txtlink {
    padding-top: 38px;
  }
  .uv-container-0 .btn-link-1 {
    width: 140px;
    height: 38px;
    font-size: 14px;
  }
  .ipcard {
    position: absolute;
    top: -20px;
    right: 0;
    width: 426px;
    height: 520px;
  }
  .btn-join-us {
    position: absolute;
    top: 468px;
    right: 136px;
    width: 172px;
    height: 85px;
  }
  .btn-join-us .btn-txt {
    padding-top: 32px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .uv-home-1 {
    min-height: 996px;
  }
  .uv-container-0 {
    max-width: 1500px;
  }
  .uv-container-0 .pannel-info {
    padding-top: 100px;
  }
  .uv-container-0 .t1 {
    font-size: 118px;
  }
  .uv-container-0 .t2 {
    font-size: 24px;
    line-height: 36px;
  }
  .uv-container-0 .txtlink {
    padding-top: 44px;
  }
  .uv-container-0 .btn-link-1 {
    width: 160px;
    height: 42px;
    font-size: 16px;
  }
  .ipcard {
    position: absolute;
    top: -20px;
    right: 0;
    width: 639px;
    height: 780px;
  }
  .btn-join-us {
    position: absolute;
    top: 698px;
    right: 200px;
    width: 258px;
    height: 128px;
  }
  .btn-join-us .btn-txt {
    padding-top: 52px;
    font-size: 16px;
  }
}
// home service
.uv-home-2 {
  background-image: url("@/assets/imgs/bg_cycle.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
// home vision
.uv-home-vision-1 {
  background-image: url("@/assets/imgs/lamp.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
.uv-home-vision-2 {
  background-image: url("@/assets/imgs/bg_cycle2.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

// 渐变色标题
.txt-wwd {
  background: -webkit-linear-gradient(90deg, #FFFFFF 67%, #A7A7A7 100%); /* Chrome, Safari */
  background: linear-gradient(90deg, #FFFFFF 67%, #A7A7A7 100%); /* 标准语法 */
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Chrome, Safari */
  color: transparent; /* 标准语法, 也可以用这个属性 */
}
.txt-vision {
  background: -webkit-linear-gradient(-180deg, #FFFFFF 32%, #A7A7A7 100%); /* Chrome, Safari */
  background: linear-gradient(-180deg, #FFFFFF 32%, #A7A7A7 100%); /* 标准语法 */
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Chrome, Safari */
  color: transparent; /* 标准语法, 也可以用这个属性 */
}
.lnk-learn-more {
  cursor: pointer;
  color: #6C2CFD;
  padding-top: 10px;
}
.lnk-learn-more:hover {
  color: #673ab7;
}
// home service 3个分块背景
.pannel-bg-1 {
  border-radius: 10px;
  background-image: url("@/assets/imgs/Speaking@2x.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
// home service 2个分块背景
.pannel-bg-2 {
  border-radius: 10px;
  background-image: url("@/assets/imgs/AIAgent@2x.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
// home partner 分块背景
.pannel-bg-3 {
  border-radius: 30px;
  background: linear-gradient(-35.13deg, #110E19 70%, #FFF 100%);
  background-clip: padding-box;
  padding: 1px;
  width: 180px;
  height: 180px;
}
.pannel-bg-3 .pannel-ctx {
  border-radius: 30px;
  background-color: #110E19;
  width: 180px;
  height: 180px;
}
// home 背面脉轮
.bg-chakra {
  position: absolute;
  top: 100px;
  min-width: 700px;
}
.chakra {
  position: absolute;
}
.chakra-1 {
  top: 124px;
  right: 186px;
}
.chakra-2 {
  top: 150px;
  left: 184px;
}
.chakra-3 {
  top: 180px;
  right: 186px;
}
.chakra-4 {
  top: 206px;
  left: 184px;
}
.chakra-5 {
  top: 236px;
  right: 186px;
}
.chakra-6 {
  top: 262px;
  left: 184px;
}
.chakra-7 {
  top: 292px;
  right: 186px;
}
.chakra-circle {
  width: 38px;
  height: 38px;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: inset -3px -3px 7px 0px #FFFFFF,inset 4px 4px 7px 0px #8896A393,0px 0px 24px 0px #FFFFFF66;
}
.chakra-click-count {
  font-size: 12px;
  line-height: 24px;
  margin: 0 5px;
}
@media (min-width: 700px) {
  .bg-chakra {
    min-width: 1100px;
  }
  .chakra-circle {
    width: 61px;
    height: 61px;
  }
  .chakra-1 {
    top: 194px;
    right: 292px;
  }
  .chakra-2 {
    top: 235px;
    left: 289px;
  }
  .chakra-3 {
    top: 283px;
    right: 292px;
  }
  .chakra-4 {
    top: 324px;
    left: 289px;
  }
  .chakra-5 {
    top: 372px;
    right: 292px;
  }
  .chakra-6 {
    top: 413px;
    left: 289px;
  }
  .chakra-7 {
    top: 461px;
    right: 292px;
  }
  .chakra-click-count {
    font-size: 18px;
    margin: 5px 10px;
  }
}
@media (min-width: 1100px) {
  .bg-chakra {
    min-width: 1280px;
  }
  .chakra-circle {
    width: 70px;
    height: 70px;
  }
  .chakra-1 {
    top: 226px;
    right: 340px;
  }
  .chakra-2 {
    top: 273px;
    left: 337px;
  }
  .chakra-3 {
    top: 329px;
    right: 340px;
  }
  .chakra-4 {
    top: 376px;
    left: 337px;
  }
  .chakra-5 {
    top: 432px;
    right: 340px;
  }
  .chakra-6 {
    top: 479px;
    left: 337px;
  }
  .chakra-7 {
    top: 535px;
    right: 340px;
  }
  .chakra-click-count {
    font-size: 22px;
    margin: 5px 15px;
  }
}
// home 背面脉轮点击后提示+1淡出
.fade-out-text {
  position: relative;
  animation: fadeOutMove 1s forwards;
  font-size: 20px;
}
@keyframes fadeOutMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px); /* Adjust the movement distance as needed */
  }
}
// 二级页面
// dashboard
.pg-dashboard .sub-qa-block {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1480px) {
  .pg-dashboard .sub-qa-block {
    padding-left: 0;
    padding-right: 0;
  }
}
.pg-dashboard .txt-title {
  background: -webkit-linear-gradient(90deg, #FFFFFF 67%, #A7A7A7 100%); /* Chrome, Safari */
  background: linear-gradient(90deg, #FFFFFF 67%, #A7A7A7 100%); /* 标准语法 */
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Chrome, Safari */
  color: transparent; /* 标准语法, 也可以用这个属性 */
}
.dashboard-summary .pannel-dashboard-summary {
  margin-bottom: 10px;
}
.dashboard-summary .label {
  color: #88878c;
}
.dashboard-summary .data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 14px;
}
.dashboard-summary .data .val {
  font-size: 30px;
}
.dashboard-summary .data .unit {
  font-size: 14px;
  color: #88878c;
  margin-bottom: 5px;
  margin-left: 8px;
}
// .pg-dashboard .dashboard-transactions {
//   min-width: 1440px;
// }
.pg-dashboard .tbl-paged {
  background-color: #191521;
  border-radius: 10px;
}
.pg-dashboard .tbl-r {
  border-bottom: 1px solid #2f2c35;
  padding: 20px 10px;
}
.pg-dashboard .tbl-cell-title {
  font-size: 20px;
  color: #605e66;
  padding: 0 10px;
}
.pg-dashboard .tbl-cell {
  font-size: 18px;
  color: #cccccc;
  word-break: break-all;
  padding: 0 10px;
}
.pg-dashboard .dashboard-transactions .tbl-r {
  display: inline-grid;
  width: 100%;
  // grid-template-columns: 280px 200px 300px 300px 280px;
  grid-template-columns: 30% 10% 20% 15% 25%;
}
.pg-dashboard .paging {
  margin-top: 60px;
  padding-bottom: 30px;
}
.pg-dashboard .token-unit {
  margin-left: 5px;
  color: #666666;
  font-size: 16px;
}
// myunivoice
.pannel-myunivoice-summary {
  background-color: #191521;
  border-radius: 10px;
  padding: 40px 50px;
}
.pannel-myunivoice-summary .rewards-panel {
  border-right: none;
}
.pannel-myunivoice-summary .label {
  color: #88878c;
}
.pannel-myunivoice-summary .data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 14px;
}
.pannel-myunivoice-summary .data .val {
  font-size: 30px;
}
.pannel-myunivoice-summary .claimable-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-top: 30px;
}
.pannel-myunivoice-summary .claimable-panel .label {
  color: #6129df;
}
.pannel-myunivoice-summary .claimable-panel .data {
  color: #6c2cfd;
}
.pannel-myunivoice-summary .btn-link-1 {
  width: 106px;
  height: 46px;
  font-size: 18px;
  box-shadow: none;
}
@media (min-width: 1024px) {
  .pannel-myunivoice-summary .rewards-panel {
    border-right: 1px solid #34313a;
  }
  .pannel-myunivoice-summary .claimable-panel {
    padding-left: 100px;
    margin-top: 0;
  }
}
.pg-dashboard .myunivoice-transactions .tbl-r {
  display: inline-grid;
  width: 100%;
  // grid-template-columns: 280px 200px 300px 300px 280px;
  grid-template-columns: 30% 25% 15% 20% 10%;
}
.myunivoice-license .license-block {
  display: grid;

}
.myunivoice-license .license-block .license {
  background: linear-gradient(45deg, #702dfd, #ef4cfb);
  border-radius: 10px;
  padding: 2px;
}
.myunivoice-license .license-img {
  // width: 370px;
  // height: 370px;
  border-radius: 10px;
}
